In [132]:
nama = input("Masukan Nama")
nim = input("Masukana NIM")
kelas =input("Masukan Kelas")
print(f"Nama: {nama} NIM: {nim} Kelas: {kelas}")

Masukan Nama Muhammad Djibriel Maulidan
Masukana NIM 20240040239
Masukan Kelas TI24G

Nama: Muhammad Djibriel Maulidan NIM: 20240040239 Kelas: TI24G

In [128]:
kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"
kata =kalimat.split(' ')
print("a.",kata[2].lower(),kata[1].lower())
print("b.",kalimat.replace("U",""))
print("c.",kata[3],kata[2],kata[1],kata[0])
print("d.",kata[0][0]+kata[1][0]+kata[2][0]+kata[3][0])
print("e.",kata[0][-3:], kata[1][-2:]+kata[2][:2],kata[3][-4:])

a. putra nusa
b. NIVERSITAS NSA PTRA SKABMI
c. SUKABUMI PUTRA NUSA UNIVERSITAS
d. UNPS
e. TAS SAPU BUMI