In [7]:
name = "Muhammad Djibriel Maulidan"
age = 19
address,province = "Cisaat", "120219"
scorePython = 95.2
isMarried = False

print("Nama :",nama)
print("Umur :", age)
print("alamat: ",address)
print("Nilai Python :",scorePython)
print("Status Menikah :",isMarried)

Nama : Muhammad Djibriel Maulidan
Umur : 19
alamat:  Cisaat
Nilai Python : 95.2
Status Menikah : False

In [9]:
print("Tipe Data <nama>", type(name))
print("Tipe Data <umur>", type(age))
print("Tipe Data <alamat>", type(address))
print("Tipe Data <provinsi>", type(province))
print("Tipe Data <nilai>", type(scorePython))
print("Tipe Data <status>", type(isMarried))

Tipe Data <nama> <class 'str'>
Tipe Data <umur> <class 'int'>
Tipe Data <alamat> <class 'str'>
Tipe Data <provinsi> <class 'str'>
Tipe Data <nilai> <class 'float'>
Tipe Data <status> <class 'bool'>

In [19]:
#Casting atau konversi tipe data
#Konversi dari String ke (int,float,bool)
StrToInt = int(province)
StrToFloat = float(province)
StrToBool = bool(province)
print(StrToInt,StrToFloat,StrToBool, sep=' - ')
#Konversi dari int ke (str,float,bool)
IntToStr = str(age)
IntToFloat = float(age)
IntToBool = bool(age)
print(IntToStr,IntToFloat,IntToBool, sep=' - ')
#Konversi dari float ke (str,int,bool)
FloatToStr = str(scorePython)
FloatToInt = int(scorePython)
FloatToBool = bool(scorePython)
print(FloatToStr,FloatToInt,FloatToBool, sep=' - ')
#Konversi dari bool ke (int,float,str)
BoolToInt = int(isMarried)
BoolToFloat = float(isMarried)
BoolToStr = str(isMarried)
print(BoolToInt,BoolToFloat,BoolToStr, sep=" - ")

120219 - 120219.0 - True
19 - 19.0 - True
95.2 - 95 - True
0 - 0.0 - False

In [29]:
#Tipe data basis bilangan (desimal, biner, oktal, hexa)
decimal = 100
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal :",decimal)
print("Nilai biner :",biner)
print("Nilai oktal :", octal)
print("Nilai Hexadesimal :",hexa)

print("Nilai biner dari",decimal,":", bin(decimal))
print("Nilai Oktal dari", decimal, ":",oct(decimal))
print("Nilai hexadesimal dari",decimal,":",hex(decimal))

Nilai desimal : 100
Nilai biner : 10
Nilai oktal : 255
Nilai Hexadesimal : 255
Nilai biner dari 100 : 0b1100100
Nilai Oktal dari 100 : 0o144
Nilai hexadesimal dari 100 : 0x64

In [49]:
#Tipe data collection
#List
cities =["Bandung","Sukabumi","Jakarta","Makassar","Surabaya"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0]) #
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities[5] ="medan" akan menyebabkan error out of range karena index hanya sampai 4
print(cities)

#Tuple
names =("Djibriel","Ibnu","Hamudi")
print(names)
print(names[0])
#names[0]="Gidzane" akan menyebabkan error karena tuple adalah immutable

#Dictionary
studentData={
    "name":"Muhammad Djibriel Maulidan",
    "age":19,
    "address": {
        "Street":"Mangkalaya",
        "Number":13,
        "Province":"Jawa Barat"},
    "isMarried":False,
    "Hobbies":["Basket Ball","Reading"]}
print(studentData)
print(studentData["age"])
print(studentData["address"]["Province"])
print(studentData["Hobbies"][0])

#List of Dictionary
studentList = [
    {
    "name":"Muhammad Djibriel Maulidan",
    "age":19,
    "address": {
        "Street":"Mangkalaya",
        "Number":13,
        "Province":"Jawa Barat"},
    "isMarried":False,
    "Hobbies":["Basket Ball","Reading"]
    },
    {
    "name":"Muhammad Dwi Haryanto",
    "age":19,
    "address": {
        "Street":"Mangkalaya",
        "Number":15,
        "Province":"Jawa Barat"},
    "isMarried":False,
    "Hobbies":["Chess","Drawing"]}
]
print(studentList[0])
print(studentList[1])
print(studentList[1]["address"]["Province"])

['Bandung', 'Sukabumi', 'Jakarta', 'Makassar', 'Surabaya']
Bandung
Surabaya
S
a
['Bali', 'Sukabumi', 'Jakarta', 'Makassar', 'Surabaya']
('Djibriel', 'Ibnu', 'Hamudi')
Djibriel
{'name': 'Muhammad Djibriel Maulidan', 'age': 19, 'address': {'Street': 'Mangkalaya', 'Number': 13, 'Province': 'Jawa Barat'}, 'isMarried': False, 'Hobbies': ['Basket Ball', 'Reading']}
19
Jawa Barat
Basket Ball
{'name': 'Muhammad Djibriel Maulidan', 'age': 19, 'address': {'Street': 'Mangkalaya', 'Number': 13, 'Province': 'Jawa Barat'}, 'isMarried': False, 'Hobbies': ['Basket Ball', 'Reading']}
{'name': 'Muhammad Dwi Haryanto', 'age': 19, 'address': {'Street': 'Mangkalaya', 'Number': 15, 'Province': 'Jawa Barat'}, 'isMarried': False, 'Hobbies': ['Chess', 'Drawing']}
Jawa Barat

In [63]:
#Konversi ke Dictionary
List_List = [["name","Djibriel"],["age",19],["Status",False]]
DictListStudent= dict(List_List)
print(DictListStudent)

List_Tuple = [("name","Djibriel"),("Address","Mangkalaya")]
DictTupleStudent = dict(List_Tuple)
print(DictTupleStudent)

Tuple_List= (["name","cow"],["type","Mamalia"])
DictListAnimal = dict(Tuple_List)
print(DictListAnimal)

Tuple_Tuple =(("Name","Crocodile"),("Type","Reptile"))
DictTupleAnimal = dict(Tuple_Tuple)
print(DictListAnimal)

keys = ["Vehicle","Brand","cc"]
values = ["Car","BMW",2500]
car=dict(zip(keys,values))
print(car)

{'name': 'Djibriel', 'age': 19, 'Status': False}
{'name': 'Djibriel', 'Address': 'Mangkalaya'}
{'name': 'cow', 'type': 'Mamalia'}
{'name': 'cow', 'type': 'Mamalia'}
{'Vehicle': 'Car', 'Brand': 'BMW', 'cc': 2500}