<h1>Operasi Aritmatika</h1>

In [12]:
x= int(input("Isikan Nilai x :"))
y= int(input("Isikan Nilai y :"))
hasilTambah = x+y
hasilKurang = x-y
hasilKali = x*y
hasilBagi = x/y
hasilMod = x%y
hasilPangkat = x**y
hasilBagiBulat = x//y

print("Hasil Penjumlahan",x,"+",y,"=",hasilTambah)
print("Hasil Pengurangan",x,"-",y,"=",hasilKurang)
print("Hasil Perkalian",x,"*",y,"=",hasilKali)
print("Hasil pembagian",x,"/",y,"=",hasilBagi)
print("Hasil Modulus",x,"%",y,"=",hasilMod)
print("Hasil Pangkat",x,"^",y,"=",hasilPangkat)
print("Hasil Pembagian Bulat",x,"//",y,"=",hasilBagiBulat)

Isikan Nilai X : 10
Isikan Nilai Y : 3

Hasil Penjumlahan 10 + 3 = 13
Hasil Pengurangan 10 - 3 = 7
Hasil Perkalian 10 * 3 = 30
Hasil pembagian 10 / 3 = 3.3333333333333335
Hasil Modulus 10 % 3 = 1
Hasil Pangkat 10 ^ 3 = 1000
Hasil Pembagian Bulat 10 // 3 = 3

<h1>Operasi Penugasan</h1>

In [ ]:
number = int(input("Isikan Nilai :"))
print("Nilai dari Variabel 'number' :",number)
number+=5
print("Setelah ditambah dengan 5 :",number)
number-=10
print("Kemudian dikurang dengan 10 :",number)
number/=2
print("Selanjutnya dibagi dengan 2 :",number)
number*=5
print("Terakhir dikali dengan 5 :",number)

<h1>Operasi Perbandingan</h1>

In [23]:
val1 = int(input("Masukan Nilai val1:"))
val2 = int(input("Masukan Nilai val2:"))
print("apakah",val1,">",val2,"?",val1>val2)
print("apakah",val1,"<",val2,"?",val1<val2)
print("apakah",val1,">=",val2,"?",val1>=val2)
print("apakah",val1,"<=",val2,"?",val1<=val2)
print("apakah",val1,"==",val2,"?",val1==val2)
print("apakah",val1,"!=",val2,"?",val1!=val2)

Masukan Nilai val1: 6
Masukan Nilai val2: 6

apakah 6 > 6 ? False
apakah 6 < 6 ? False
apakah 6 >= 6 ? True
apakah 6 <= 6 ? True
apakah 6 == 6 ? True
apakah 6 != 6 ? False

<h1>Operasi Logika</h1>

In [38]:
number1 = int(input("isikan number1:"))
number2 = int(input("isikan number2:"))
number3 = int(input("isikan number3:"))
number4 = int(input("isikan number4:"))
#and
print("apakah",number1,">",number2,"and",number3,"==",number4)
print(number1>number2 and number3 == number4)
#or
print("apakah",number1,">",number2,"or",number3,"==",number4)
print(number1>number2 or number3 == number4)
#not and
print("apakah",number1,">",number2,"nand",number3,"==",number4)
print(not(number1>number2 and number3 == number4))

isikan number1: 1
isikan number2: 1
isikan number3: 1
isikan number4: 1

apakah 1 > 1 and 1 == 1
False
apakah 1 > 1 or 1 == 1
True
apakah 1 > 1 nand 1 == 1
True

<h1>Operator Identitas</h1>

In [43]:
idty1 = 10
idty2 ="10"
idty3 = idty1

print("Alamat Memori idty1",id(idty1))
print("Alamat Memori idty2",id(idty2))
print("Alamat Memori idty3",id(idty3))

print("apakah idty1 is idty2?", idty1 is idty2)
print("apakah idty2 is idty3?", idty2 is idty3)
print("apakah idty3 is idty1?", idty3 is idty1)
print("apakah idty1 isnot idty2?", idty1 is not idty2)
print("apakah idty2 isnot idty3?", idty2 is not idty3)
print("apakah idty3 isnot idty1?", idty3 is not idty1)

Alamat Memori idty1 140724566239960
Alamat Memori idty2 2550772181600
Alamat Memori idty3 140724566239960
apakah idty1 is idty2? False
apakah idty2 is idty3? False
apakah idty3 is idty1? True

<h1>Operasi Keanggotaan</h1>

In [80]:
listFruit = ["watermelon","mango","star fruit","pineapple"]
findFruit = input("insert your fruit")
print("is there any",findFruit,"in",listFruit,"?",findFruit in listFruit)
print("is ",findFruit,"not in",listFruit,"?",findFruit not in listFruit)

insert your fruit MANGO

is there any MANGO in ['watermelon', 'mango', 'star fruit', 'pineapple'] ? False
is  MANGO not in ['watermelon', 'mango', 'star fruit', 'pineapple'] ? True

<h1>Operasi Bitwise</h1>

In [70]:
num1 = int(input("Insert Bilangan 1"))
num2 = int(input("Insert Bilangan 2"))

bAnd = num1 & num2
print(bin(num1))
print(bin(num2))
print("==========&")
print(bin(bAnd),"=",bAnd)
bOr = num1 | num2
print(bin(num1))
print(bin(num2))
print("==========|")
print(bin(bOr),"=",bOr)

Insert Bilangan 1 8
Insert Bilangan 2 12

0b1000
0b1100
==========&
0b1000 = 8
0b1000
0b1100
==========|
0b1100 = 12

<h1>Operasi Ternary</h1>

In [85]:
#ganjir or genap
bil = int(input("Isikan Bilangan"))
oddEven = "Genap" if bil %2 ==0 else "Ganjil"
print(bil,"adalah bilangan",oddEven)

Isikan Bilangan 2

2 adalah bilangan Genap

<h1>Tugas</h1>

In [122]:
#harga
hrgEsBuah= 10000
hrgEsTeler = 15000
hrgEsKelapa = 20000

esBuah = int(input("Jumlah Es Buah:"))
esTeler = int(input("Jumlah Es Teler:"))
esKelapa = int(input("Jumlah Es Kelapa:"))

totalEsBuah = hrgEsBuah * esBuah
totalEsTeler = hrgEsTeler  * esTeler
totalEsKelapa = hrgEsKelapa * esKelapa

totalhrg = totalEsBuah + totalEsTeler + totalEsKelapa
diskon =totalhrg/10 if totalhrg>=100000 else 0
totalbyr = totalhrg - diskon

print("Es Buah",esBuah,"*",hrgEsBuah,"=",totalEsBuah)
print("Es Teler",esTeler,"*",hrgEsTeler,"=",totalEsTeler)
print("Es Kelapa",esKelapa,"*",hrgEsKelapa,"=",totalEsKelapa)
print("Total Harga :",totalhrg)
print("discount% :",diskon)
print("Total bayar :",totalbyr)

Jumlah Es Buah: 1
Jumlah Es Teler: 0
Jumlah Es Kelapa: 0

Es Buah 1 * 10000 = 10000
Es Teler 0 * 15000 = 0
Es Kelapa 0 * 20000 = 0
Total Harga : 10000
discount% : 0
Total bayar : 10000

In [166]:
bil = input("masukan bilangan:")
kurang =int(bil[0])+int(bil[1])+int(bil[2])+int(bil[3])
pengurangan = int(bil) - kurang
print("Hasil:",pengurangan)

masukan bilangan: 5555

Hasil: 5535